.video-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	z-index: 1;
}
.videoData {
	color: black;
}
.embed {
	position: relative;
}
.video-info {
	position: relative;
	padding-bottom: 10px;
	color: black;
	text-align: left;
}
.p {
	margin: auto;
}
